<div id="mainnav">
	<div id="topnav-container">
		<div id="topLeftNavigation">
			<div id="t1">
				<div class="noprint">
					<div class="-nav">
						<div class="date-controls">
							<table border="0" cellpadding="0" cellspacing="0"
							class="nav-table">
								<tbody>
									<tr>
										<td class="date-nav-today">
											<div id="todayButton:2">
												<div class=
												"goog-inline-block goog-imageless-button goog-imageless-button-disabled"
												style=
												"-webkit-user-select: none;">
													<div class=
													"goog-inline-block goog-imageless-button-outer-box">
													<div class=
													"goog-inline-block goog-imageless-button-inner-box">
														<div class=
														"goog-imageless-button-pos">
															<div class=
															"goog-imageless-button-top-shadow">
																&nbsp;
																</div>
																<div class=
																"goog-imageless-button-content">
																Hoy
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</td>

										<td class="date-nav-prev">
											<div class=
											"navbuttonouter navBackOuter goog-inline-block"
											id="navBack:2" tabindex="0" title=
											"Periodo anterior">
												<div class=
												"navbutton navBack goog-inline-block">

												</div>
											</div>
										</td>

										<td class="date-nav-next">
											<div class=
											"navbuttonouter navForwardOuter goog-inline-block"
											id="navForward:2" tabindex="0"
											title="Siguiente periodo">
												<div class=
												"navbutton navForward goog-inline-block">

												</div>
											</div>
										</td>

										<td class="date-picker-off" id=
										"dateBox:2">
											<div class="date-top" id=
											"currentDate:2">
												viernes, 19 de jun de 2015
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="topRightNavigation">
			<div class="button-strip goog-inline-block">
				<div class="trans-strip goog-inline-block">
				</div>
				<div class=
				"goog-inline-block goog-imageless-button goog-imageless-button-collapse-right goog-imageless-button-checked"
				style="-webkit-user-select: none;" tabindex="0">
					<div class=
					"goog-inline-block goog-imageless-button-outer-box">
						<div class=
						"goog-inline-block goog-imageless-button-inner-box">
							<div class="goog-imageless-button-pos">
								<div class="goog-imageless-button-top-shadow">
									&nbsp;
								</div>

								<div class="goog-imageless-button-content">
									Día
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=
				"goog-inline-block goog-imageless-button goog-imageless-button-collapse-left goog-imageless-button-collapse-right"
				style="-webkit-user-select: none;" tabindex="0">
					<div class=
					"goog-inline-block goog-imageless-button-outer-box">
						<div class=
						"goog-inline-block goog-imageless-button-inner-box">
							<div class="goog-imageless-button-pos">
								<div class="goog-imageless-button-top-shadow">
									&nbsp;
								</div>


								<div class="goog-imageless-button-content">
									Semana
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=
				"goog-inline-block goog-imageless-button goog-imageless-button-collapse-left goog-imageless-button-collapse-right"
				style="-webkit-user-select: none;" tabindex="0">
					<div class=
					"goog-inline-block goog-imageless-button-outer-box">
						<div class=
						"goog-inline-block goog-imageless-button-inner-box">
							<div class="goog-imageless-button-pos">
								<div class="goog-imageless-button-top-shadow">
									&nbsp;
								</div>


								<div class="goog-imageless-button-content">
									Mes
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=
				"goog-inline-block goog-imageless-button goog-imageless-button-collapse-left goog-imageless-button-collapse-right"
				style="-webkit-user-select: none;" tabindex="0">
					<div class=
					"goog-inline-block goog-imageless-button-outer-box">
						<div class=
						"goog-inline-block goog-imageless-button-inner-box">
							<div class="goog-imageless-button-pos">
								<div class="goog-imageless-button-top-shadow">
									&nbsp;
								</div>


								<div class="goog-imageless-button-content">
									4 días
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class=
				"goog-inline-block goog-imageless-button goog-imageless-button-collapse-left"
				style="-webkit-user-select: none;" tabindex="0">
					<div class=
					"goog-inline-block goog-imageless-button-outer-box">
						<div class=
						"goog-inline-block goog-imageless-button-inner-box">
							<div class="goog-imageless-button-pos">
								<div class="goog-imageless-button-top-shadow">
									&nbsp;
								</div>


								<div class="goog-imageless-button-content">
									Agenda
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="goog-inline-block goog-imageless-button" id="mg-more"
			style="-webkit-user-select: none;" tabindex="0">
				<div class="goog-inline-block goog-imageless-button-outer-box">
					<div class="goog-inline-block">
						Más
					</div>


					<div class="goog-inline-block more-arrow">
					</div>
				</div>
			</div>


			<div class="goog-inline-block goog-imageless-button icon-button"
			data-tooltip="Configuración" id="mg-settings" style=
			"-webkit-user-select: none;" tabindex="0">
				<div class="goog-inline-block goog-imageless-button-outer-box">
					<div class=
					"goog-inline-block goog-imageless-button-inner-box">
						<div class="goog-imageless-button-pos">
							<div class="goog-imageless-button-top-shadow">
								&nbsp;
							</div>
							<div class="goog-imageless-button-content">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>