<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="md-header modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

	        <h1>Taller de Oficios 2015</h1> <h2>Waking Souls</h2>
	      </div>
	      <div class="modal-body">
		      <div class="md-cont-date row">
			      <div class="md-date md-start">
				      <h1>Inicio</h1>
				      <div class="md-date-day">
				      	<h2>14</h2>
				      </div>
				      <div class="md-date-month">
					      <h3>Marzo</h3>
					      <h3>10:00 Hrs.</h3>
				      </div>
			      </div>
			      <div class="md-date md-end">
				      <h1>Terminación</h1>
				      <div class="md-date-day">
				      	<h2>22</h2>
				      </div>
				      <div class="md-date-month">
					      <h3>Marzo</h3>
					      <h3>10:00 Hrs.</h3>
				      </div>
			      </div>
		      </div>
		      <div class="md-cont-descp row">
		      	<h1>INFORMACIÓN DEL EVENTO</h1>
		      	<p>Propuesta de la población: Durante el taller de alternativas, las propuestas sugeridas por los ciudadanos fueron: Pláticas motivacionales para que los jóvenes continúen con los estudios.</p>
		      	<p> Brindar becas para continuar con los estudios para que los jóvenes tenagan un mejor perfil - Dar becas para oficios, con el fin de que los jóvenes sepan emprenden una actividad económica de manera independiente. - Apoyo en transporte para transladarse a trabajos que quedan muy lejos de la colonia. - Generar asociaciones público-privadas para que se les de oportunidades de empleo a los jóvenes de la colonia.</p>

		      	<div class="md-place">
			      	<h1>LUGAR</h1>
			      	<p>Centro de Bienestar y Asistencia Infantil de Jalisco A.C.</p>
			      	<p>La Ley #3048, colonia Residencial Juan Manuel</p>
			      	<p>C.P. 44680 Guadalajara Jalisco, México</p>
		      	</div>
		      	<div class="md-social md-fb"><%= image_tag("events/facebook-lg.png") %></div>
		      	<div class="md-social"><%= image_tag("events/twitter-lg.png") %></div>
		      </div>
		      <div class="md-img row">
		      	<%= image_tag("events/map.png") %>
				<%= image_tag("events/eventImg.png") %>
		      </div>
	      </div>
	    </div>
	  </div>
	</div>