<% title "Editar Recorrido" %>

<div class="page-head">
    <h2 class="pull-left"><%= params[:id].present? ? "Editar Recorrido" : "Nuevo Recorrido" %></h2>
    <div class="pull-right">

    </div>
    <div class="clearfix"></div>
    <!-- Breadcrumb -->
    <div class="bread-crumb">
      <a href="index.html"><i class="fa fa-home"></i> Inicio</a>
      <!-- Divider -->
      <span class="divider">/</span>
      <a href="index.html"><i class="fa fa-map-marker"></i> Recorrido</a>
      <span class="divider">/</span>
      <a href="#" class="bread-current"><%= params[:id].present? ? "Editar Recorrido" : "Nuevo Recorrido" %></a>
    </div>

    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="widget">
            <div class="widget-head">
              <div class="pull-left"><%= params[:id].present? ? @tour.name : "Nuevo Recorrido" %></div>
              <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="widget-content">
              <div class="padd">
                <div class="toolbar">
                  <div class="col-md-3 col-xs-12">
                    <div id="color-palette" class="text-center"></div>
                  </div>
                  
                </div>
                <div class="toolbar" role="navigation"></div>
                <div id="map-canvas"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <%= render 'form' %>
    </div>
  </div>

