<div class="row">
        <div class="col-md-12">
          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">Características de la problema</div>
              <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="widget-content">
              <div class="padd">
                <form class="" role="form">
                  <div class="form-group">
                    <label for="">Nombre del Problema</label>
                    <input type="text" class="form-control input-lg" placeholder="Nombre del Problema">
                  </div>

                  <div class="form-group">
                    <label for="">Categoria del Problema</label>
                    <select name="" id="input" class="form-control" required="required">
                      <option value="">-- Selecciona</option>
                      <optgroup label="Servicios Públicos">
                        <option value="">Agua potable y saneamiento</option>
                        <option value="">Alcantarillado</option>
                        <option value="">Residuos Sólidos</option>
                        <option value="">Calles, vialidades y accesos</option>
                        <option value="">Alumbrado público</option>
                        <option value="">Energía eléctrica</option>
                        <option value="">Espacios públicos, parques y jardines (infraestructura)</option>
                        <option value="">Seguridad Pública y tránsito</option>
                        <option value="">Asistencia médica</option>
                        <option value="">Infraestructura educativa</option>
                        <option value="">Rezago educativo</option>
                      </optgroup>
                      <optgroup label="Familias">
                        <option value="">Integración familiar</option>
                        <option value="">Violencia intrafamiliar</option>
                        <option value="">Planificación familiar</option>
                        <option value="">Equidad de género</option>
                      </optgroup>
                      <option value="">Empleo y planeación socioeconómica</option>
                      <option value="">Vivienda</option>
                      <option value="">Salud, higiene, prevención y combate a las adicciones</option>
                      <option value="">Medio ambiente</option>
                      <option value="">Alimentación y nutrición</option>
                      <option value="">Participación ciudadana y vecinal</option>
                      <option value="">Deporte y atención a la juventud con programas sociales, culturales y recreativos</option>
                      <option value="">Transferencia o desarrollo de tecnología</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="">Descripción del problema</label>
                    <textarea class="form-control" rows="5" placeholder="descripción del problema"></textarea>
                  </div>


                  <input type="hidden" id="mapCoords">
                  <input type="hidden" id="PolygonColors">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Posibles causas</label>
                        <input type="text" class="form-control" placeholder="Posibles causas">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">efectos que provoca</label>
                        <input type="text" class="form-control" placeholder="efectos que provoca">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">costo del problema</label>
                        <input type="text" class="form-control" placeholder="Posibles causas">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Frecuencia del problema</label>
                        <select name="" id="input" class="form-control" required="required">
                          <option value="">-- Selecciona</option>
                          <option value="">Cíclico (ejemplo: cada temporada de lluvia)</option>
                          <option value="">Estacional (todo el año)</option>
                          <option value="">Esporádico (una vez cada 5 años)</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="">El problema afecta más a mujeres o a hombres (problema de género)</label>
                    <select name="" id="input" class="form-control" required="required">
                      <option value="">-- Selecciona</option>
                      <option value="">Más a hombres</option>
                      <option value="">Más a mujeres</option>
                      <option value="">Ambos</option>
                    </select>
                  </div>

                  <h4>Grupo de edad al que afecta directamente</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">0-12 años</label>
                        <input type="text" class="form-control" placeholder="0-12 años">
                      </div>
                      <div class="form-group">
                        <label for="">15-19 años</label>
                        <input type="text" class="form-control" placeholder="15-19 años">
                      </div>
                      <div class="form-group">
                        <label for="">25-29 años</label>
                        <input type="text" class="form-control" placeholder="25-29 años">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">12-14 años</label>
                        <input type="text" class="form-control" placeholder="12-14 años">
                      </div>
                      <div class="form-group">
                        <label for="">20-24 años</label>
                        <input type="text" class="form-control" placeholder="20-24 años">
                      </div>
                      <div class="form-group">
                        <label for="">30-59 años</label>
                        <input type="text" class="form-control" placeholder="30-59 años">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="">60 años y más</label>
                        <input type="text" class="form-control" placeholder="60 años y más">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Número casas afectadas por el problema</label>
                        <input type="text" class="form-control" placeholder="Número casas afectadas por el problema">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Cantidad de población afectada</label>
                        <input type="text" class="form-control" placeholder="Cantidad de población afectada">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="widget-foot text-center">
                <button type="button" class="btn btn-success">Guardar</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="">
        <div class="col-md-12">
          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">Soluciones Para esta problema</div>
              <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="widget-content">
              <table id="datatable" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Titlo</th>
                    <th>Tipo</th>
                    <th class="text-center">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Heberto Morales</td>
                    <td>Areglar las calles!</td>
                    <td><span class="label label-success">Solucion</span></td>
                    <td class="text-center">
                      <button class="btn btn-xs btn-success"><i class="fa fa-pencil"></i> Editar</button>
                      <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> Borrar</button>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Heberto Morales</td>
                    <td>Agregare Luz!</td>
                    <td>Idea</td>
                    <td class="text-center">
                      <button class="btn btn-xs btn-success"><i class="fa fa-pencil"></i> Editar</button>
                      <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> Borrar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

