// Base colors

$base-color: #ffffff;
$brand-color: #d14458;
$brand-80-color: rgba($brand-color, 0.8);
$accent-color: #7e7e7e;
$divider-color: #c1c1c1;
$text-color: #262626;
$title-color: #484848;
$subtitle-color: #aaaaaa;
$divider-bottom-color: #f9f9f9;
$button-bg-color: #f3f3f3;
$event-bg-color: #e1e1e1;

$button-tw-bg-color: #f6f9fb;
$brand-tw-color: #1d80ab;

$button-fb-bg-color: #eceef5;
$brand-fb-color: #3e5c99;
