<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-head">
          <div class="pull-left">Nuevo Actor</div>
          <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="widget-content">
          <div class="padd">
            <!-- Profile form -->
          <div class="form profile">
            <form class="">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombre de la institución</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre de la institución">
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Dirección</label>
                       <input type="text" class="form-control" placeholder="Calle, Colonia">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Estado</label>
                      <select name="" id="input" class="form-control" required="required">
                        <option value="">-- Selecciona</option>
                        <option value="">Jalisco</option>
                        <option value="">Estado de Mexico</option>
                        <option value="">Nayarit</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Cuidad</label>
                      <input type="text" class="form-control" placeholder="Cuidad">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Teléfono de oficina</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Teléfono de oficina">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Pagina Web</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Pagina Web">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                  </div>
                </div>
                <h4>Redes sociales</h4>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Representante Oficial</label>
                      <select name="ListadoDeUsuarios" id="inputListadoDeUsuarios" class="form-control" required="required">
                        <option value="">-- Seleciona</option>
                        <option value="">Heberto Morales</option>
                        <option value="" selected>Juan Perez</option>
                        <option value="">Erica Garcia</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Facebook</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Facebook">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Twitter</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Twitter">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <!-- Buttons -->
                  <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% title "New Admin/Actor" %>

<%= render 'form' %>

<p><%= link_to "Back to List", admin_actors_path %></p>
