<div class="nav-links">
  <a href="#" class="pageslide-trigger" data-target="proyecto-slide">Proyecto</a>
  <a href="#" class="pageslide-trigger" data-target="procesos-slide">Procesos</a>
  <a href="#" data-toggle="modal" data-target="#contactModal">Contacto</a>
  <a href="/indicadores?id=<%=params[:p] || 1 %>" target="_blank">IndicadoresF</a>
</div>