<div class="nav-links">
  <a href="javascript:void(0)" class="pageslide-trigger" data-target="proyecto-slide">El proyecto</a>
  <a href="javascript:void(0)" class="pageslide-trigger" data-target="procesos-slide">Procesos</a>
  <a href="javascript:void(0)">Contacto</a>
</div>