<div class="page-slide-container" id="procesos-slide">
  <div class="inner-nav">
    <div class="container">
      <a href="#proceso-intervencion" class="inner-nav-item active">
        Proceso de intervención
      </a>
      <a href="#proceso-proyecto" class="inner-nav-item">
        Proceso de proyecto
      </a>
      <a href="#levantamiento-datos" class="inner-nav-item">
        Levantamiento de datos
      </a>
      <a href="#recorridos-rap" class="inner-nav-item">
        Evento de recorridos
      </a>
      <a href="#encuestas-moviles" class="inner-nav-item">
        Encuestas móviles
      </a>
      <a href="#socializacion-resultados" class="inner-nav-item">
        Socialización de resultados
      </a>
    </div>
    <a href="#" class="close">x</a>
  </div>

  <div id="proceso-intervencion">
    <div class="container text-center">
      <h2 class="page-slide--title">Proceso de intervención</h2>
      <div class="proceso-intervencion-container">
        <div class="process-steps step-1">Detección y mapeo de actores</div>
        <div class="process-steps step-2">Alta del Polígono</div>
        <div class="process-steps step-3">Convocatoria de jóvenes <br>+<br>Comunicación</div>
        <div class="process-steps step-4">Seguimiento de proyectos</div>
        <div class="process-steps step-5">Conformación del grupo promotor<br>+<br>Talleres</div>
        <div class="process-steps step-6">
          Socialización de resultados <br>
          <small>Arte urbano Medios de comunicación (radio, televisión, internet)</small>
        </div>
        <div class="process-steps step-7">
          Socialización comunitaria<br>+<br>Campaña de comunicación y arte urbano
        </div>
        <div class="process-steps step-8">Integración de la evaluación</div>
        <div class="process-steps step-9">
          Recorridos &nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp; Activaciones Social <br>
          <small>Habitantes <br> Grupo promotor <br> Actores en el polígono</small>
        </div>
        <div class="process-steps step-10">Operación de proyectos</div>
        <div class="process-steps step-11">Conformación de la RED de actores</div>
        <div class="process-steps step-12">
          Ejecución de proyectos
          <small>Grupo promotor <br> Actores en el polígono</small>
        </div>
        <div class="process-steps step-13">Encuestas masivas con aplicaciones </div>
        <div class="process-steps step-14">Socialización del plan de acción</div>
        <div class="process-steps step-15">
          Detección de problemas
          <small>Diagnóstico en campo <br> Participación ciudadana en la plataforma Web</small>
        </div>
        <div class="process-steps step-16">Gestión de financiamientos</div>
        <div class="process-steps step-17">Integración de ideas</div>
        <div class="process-steps step-18">Conformación de grupo de contraloría social</div>
        <div class="process-steps step-19">Diseño de alternativas</div>
        <div class="process-steps step-20">Formulación de Proyectos</div>
        <img class="proceso-intervencion-graphic" src="/assets/page-slides/procesos--intervencion.png">
      </div>
    </div>
  </div>

  <div id="proceso-proyecto">
    <div class="container">
      <h2 class="page-slide--title text-center">Proceso de proyecto</h2>
      <div class="steps-timeline-container">
        <i class="step-timeline-number circular-red step-1">1</i>
        <div class="step-timeline-text step-1">Mapeo del polígono y de actores</div>

        <i class="step-timeline-number circular-red step-2">2</i>
        <div class="step-timeline-text step-2">Identificación de problemas</div>

        <div class="striped-tooltip-box down step-3">
          Diagnóstico cualitativo y cuantitativo, trabajo de campo, encuestas masivas.
        </div>
        <i class="step-timeline-number circular-red step-3">3</i>
        <div class="step-timeline-text step-3">Relación de causas y efectos</div>

        <div class="striped-tooltip-box up step-4">
          Proceso participativo a través de talleres de diseño de alternativas y sistematización de respuesta publicadas en la plataforma web
        </div>
        <i class="step-timeline-number circular-red step-4">4</i>
        <div class="step-timeline-text step-4">Validación de alternativas</div>

        <div class="striped-tooltip-box down step-5">
          Formalización de la estructura de la red, visualización de la información en la plataforma web (mapeo y georeferenciación de datos).
        </div>
        <i class="step-timeline-number circular-red step-5">5</i>
        <div class="step-timeline-text step-5">Articulación de alternativas y actores</div>

        <div class="striped-tooltip-box up step-6">
          Integración de análisis de problemas, objetivos, alternativas, riesgos, indicadores, medios de verificación, cronogramas y presupuestos.
        </div>
        <i class="step-timeline-number circular-red step-6">6</i>
        <div class="step-timeline-text step-6">Diseño de proyectos</div>

        <div class="striped-tooltip-box down step-7">
          Matriz de gestión de recursos y tablero de control vinculada a actores, proyectos y financiamientos.
        </div>
        <i class="step-timeline-number circular-red step-7">7</i>
        <div class="step-timeline-text step-7">Identificación de financiamientos potenciales</div>

        <i class="step-timeline-number circular-red step-8">8</i>
        <div class="step-timeline-text step-8">Implementación de proyectos</div>

        <i class="step-timeline-number circular-red step-9">9</i>
        <div class="step-timeline-text step-9">Evaluación y comunicación de resultados</div>

        <div class="bottom-dashed-border"></div>
      </div>
    </div>
  </div>

  <div id="levantamiento-datos">
    <div class="container">
      <h2 class="page-slide--title text-center">Levantamiento de datos</h2>
      <div class="levantamiento-flow-container">
        <div class="flow-init-text">
          DOS TIPOS DE LEVANTAMIENTO DE DATOS
        </div>
        <img src="/assets/page-slides/procesos--flow-graphic.png" alt="" class="flow-graphic-main">
        <div class="flow-branch branch-1">
          <strong>RAP</strong><br>
          Renovación a Pie, caminata y activación social.
        </div>
        <div class="flow-branch branch-2">
          <strong>TALLERES</strong><br>
          Taller de identificación de las causas que producen el problema principal. MML
        </div>
        <div class="flow-branch branch-3">
          <strong>ENCUESTAS MÓVILES</strong><br>
          Levantamiento masivo de datos en colaboración con jóvenes del polígono.
        </div>
        <img src="/assets/page-slides/procesos--levantamiento-1.jpg" alt="" class="flow-graphic-secondary graphic-1">
        <img src="/assets/page-slides/procesos--levantamiento-2.jpg" alt="" class="flow-graphic-secondary graphic-2">
        <img src="/assets/page-slides/procesos--levantamiento-3.jpg" alt="" class="flow-graphic-secondary graphic-3">
      </div>
    </div>
  </div>

  <div id="recorridos-rap">
    <div class="container">
      <h2 class="page-slide--title text-center">Recorridos a pie - RAP</h2>

      <div class="timeline-top-content">
        <div class="striped-tooltip-box down step-1">
          Registro de participantes
          <img src="/assets/page-slides/procesos--rap-registro.jpg" class="tooltip-graphic">
        </div>
        <div class="striped-tooltip-box down step-3">
          Activación deportiva
          <img src="/assets/page-slides/procesos--rap-activacion.jpg" class="tooltip-graphic">
        </div>
        <div class="striped-tooltip-box down step-5">
          Recorrido a pie
          <img src="/assets/page-slides/procesos--rap-recorrido.jpg" class="tooltip-graphic">
        </div>
        <div class="striped-tooltip-box down step-7">
          Cierre del evento
          <img src="/assets/page-slides/procesos--rap-cierre.jpg" class="tooltip-graphic">
        </div>
      </div>


      <div class="rap-timeline-container">
        <div class="timeline-init-text">
          Diseño de plan de comunicación
          Convocatoria de participantes
          Diseño del recorrido
        </div>
        <i class="step-timeline-number circular-red step-1">9:00</i>
        <i class="step-timeline-number circular-red step-2">10:00</i>
        <i class="step-timeline-number circular-red step-3">12:00</i>
        <i class="step-timeline-number circular-red step-4">14:00</i>
        <i class="step-timeline-number circular-red step-5">15:30</i>
        <i class="step-timeline-number circular-red step-6">17:00</i>
        <i class="step-timeline-number circular-red step-7">18:00</i>
        <div class="bottom-dashed-border"></div>
        <div class="timeline-end-text">
          Socialización de resultados
        </div>
      </div>


      <div class="timeline-bottom-content">
        <div class="striped-tooltip-box up step-2">
          Activación artística
          <img src="/assets/page-slides/procesos--rap-artistica.jpg" class="tooltip-graphic">
        </div>
        <div class="striped-tooltip-box up step-4">
          Comida de convivencia
          <img src="/assets/page-slides/procesos--rap-convivencia.jpg" class="tooltip-graphic">
        </div>
        <div class="striped-tooltip-box up step-6">
          Taller de alternativas
          <img src="/assets/page-slides/procesos--rap-taller.jpg" class="tooltip-graphic">
        </div>
      </div>

    </div>
  </div>
  <div id="encuestas-moviles">
    <div class="container">
      <h2 class="page-slide--title text-center">Encuestas móviles</h2>
      <div class="graphic-container">
        <img src="/assets/page-slides/encuestas--graphic.png" class="graphic">
        <div class="graphic-descriptions-container">
          <div class="description-1">
            <strong>MASIVO</strong><br>
            Se diseñan las encuestas, calculando previamente la muestra significativa. Éstas son aplicadas por técnicos y habitantes capacitados.
          </div>
          <div class="description-2">
            <strong>TIEMPO REAL</strong><br>
            Integración de la información de manera inmediata registrando usuarios, ubicación, tiempo y duración.
          </div>
          <div class="description-3">
            <strong>SISTEMATIZACIÓN AUTOMÁTICA</strong><br>
            Obtención de resultados estadísticos y desarrollo de gráficas ilustrativas.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="socializacion-resultados">
    <div class="container">
      <h2 class="page-slide--title text-center">Socialización de resultados</h2>
    </div>
    <div class="socializacion-text">
      <h3>DEJAR HUELLA Y EVIDENCIAR RESULTADOS</h3>
      Los elementos artísticos urbanos se convierten en un canal de comunicación de resultados y acciones emprendidas en el proceso.  Esto sensibiliza a los habitantes de la importancia de su participación y evidencia el impacto positivo del trabajo colaborativo.
    </div>
  </div>
</div>