<div class="page-slide-container" id="proyecto-slide">
  <div class="inner-nav">
    <div class="container">
      <a href="javascript:void(0);" data-section-target="objetivo-general" class="inner-nav-item active">
        Objetivo general
      </a>
      <a href="javascript:void(0);" data-section-target="objetivos-especificos" class="inner-nav-item">
        Objetivos específicos
      </a>
      <a href="javascript:void(0);" data-section-target="entregables" class="inner-nav-item">
        Entregables
      </a>
      <a href="javascript:void(0);" data-section-target="resultados-proyectados" class="inner-nav-item">
        Resultados proyectados
      </a>
    </div>
    <i class="close">x</i>
  </div>

  <div id="objetivo-general">
    <div class="container">
      <h2 class="page-slide--title text-center">Objetivo general</h2>
      <div class="col-md-4">
        <div class="graphic-description top-left">
          DESARROLLAR UN SISTEMA DE PARTICIPACIÓN CIUDADANA DINÁMICO E INCLUYENTE
        </div>
        <div class="graphic-description bottom-left">
          QUE PERMITA GENERAR UN DIAGNÓSTICO Y UN  PLAN DE ACCIÓN PARA FORTALECER EL TEJIDO SOCIAL
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img class="obj-gral-graphic" src="/assets/page-slides/proyecto--obj-gral.gif">
      </div>
      <div class="col-md-4">
        <div class="graphic-description top-right">
          LIDERADO POR JÓVENES,
        </div>
        <div class="graphic-description bottom-right">
          Y CONTRIBUIR AL DESARROLLO COMUNITARIO Y A LA PREVENCIÓN DE RIESGOS EN POLÍGONOS PRIORITARIOS
        </div>
      </div>
    </div>
  </div>

  <div id="objetivos-especificos">
    <div class="container">
      <h2 class="page-slide--title text-center">Objetivos específicos</h2>
      <div class="graphic-container text-center">
        <img class="obj-esp-graphic" src="/assets/page-slides/proyecto--section-icons.png">
      </div>
      <div class="slide-columns-container">
        <div class="column">
          <div class="column-popover-title text-center">1</div>
          <div class="content-row bottom-dashed-border">
            <strong>Generar una RED de colaboración</strong> con actores sociales del polígono,
          </div>
          <div class="content-row bottom-dashed-border">
            para eficientar el desempeño y productividad
          </div>
          <div class="content-row">
            a través de la elaboración de proyectos colaborativos.
          </div>
        </div>

        <div class="column">
          <div class="column-popover-title text-center">2</div>
          <div class="content-row bottom-dashed-border">
            Generar mecanismos de <strong>socialización comunitaria</strong>,
          </div>
          <div class="content-row bottom-dashed-border">
            para favorecer que la gente se informe y se involucre con la gente
          </div>
          <div class="content-row">
            a través de encuestas y piezas de comunicación <i>in situ</i>.
          </div>
        </div>

        <div class="column">
          <div class="column-popover-title text-center">3</div>
          <div class="content-row bottom-dashed-border">
            <strong>Entender el territorio</strong> donde se ubican los polígonos de intervención,
          </div>
          <div class="content-row bottom-dashed-border">
            para identificar dificultades y potencialidades de los polígonos
          </div>
          <div class="content-row">
            a través de caminatas y talleres participativos.
          </div>
        </div>

        <div class="column">
          <div class="column-popover-title text-center">4</div>
          <div class="content-row bottom-dashed-border">
            <strong>Diseñar proyectos</strong> específicos de la zona de intervención,
          </div>
          <div class="content-row bottom-dashed-border">
            para contribuir a la mejora de la calidad de vida de los habitantes
          </div>
          <div class="content-row">
            por medio de la elaboración de matrices de indicadores por resultados.
          </div>
        </div>

        <div class="column">
          <div class="column-popover-title text-center">5</div>
          <div class="content-row bottom-dashed-border">
            <strong>Sistematizar</strong> la información de los trabajos realizados,
          </div>
          <div class="content-row bottom-dashed-border">
            para facilitar la gestión de recursos
          </div>
          <div class="content-row">
            a través de medios audiovisuales y uso de la web.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="entregables">
    <div class="container">
      <h2 class="page-slide--title text-center">Entregables</h2>
      <div class="graphic-container text-center">
        <img class="obj-esp-graphic" src="/assets/page-slides/proyecto--section-icons.png">
      </div>
      <div class="slide-columns-container">
        <div class="column">
          <div class="content-row bottom-dashed-border">
            <strong>Generar una RED de colaboración con actores sociales del polígono.</strong>
          </div>
          <div class="content-row bottom-dashed-border">
            Identificación de actores del polígono (mapa de actores georeferenciado).
          </div>
          <div class="content-row bottom-dashed-border">
            Identificación de actores del polígono (mapa de actores georeferenciado).
          </div>
          <div class="content-row bottom-dashed-border">
            Formalización de la red (acuerdo de colaboración).
          </div>
          <div class="content-row bottom-dashed-border">
            Plataforma web (página web).
          </div>
          <div class="content-row">
            Talleres de capacitación con grupos promotores (fotografías de talleres y recuperación de la experiencia).
          </div>
        </div>

        <div class="column">
          <div class="content-row bottom-dashed-border">
            Generar mecanismos de <strong>socialización comunitaria</strong>,
          </div>
          <div class="content-row bottom-dashed-border">
            Encuestas ciudadanas in situ (reporte de encuestas).
          </div>
          <div class="content-row bottom-dashed-border">
            Talleres de árboles de problemas y objetivos (fotografías de talleres, recuperación de la experiencia y gráficos de árboles georeferenciados con fotografías).
          </div>
          <div class="content-row">
            Sistema de selección de beneficiarios (documentos de restricciones y criterios).
          </div>
        </div>

        <div class="column">
          <div class="content-row bottom-dashed-border">
            <strong>Entender el territorio</strong> donde se ubican los polígonos de intervención,
          </div>
          <div class="content-row bottom-dashed-border">
            Campaña de comunicación (concepto general, plan de comunicación y gráficos base).
          </div>
          <div class="content-row bottom-dashed-border">
            Recorridos (fotografías y vídeos de recorridos).
          </div>
          <div class="content-row bottom-dashed-border">
            Taller de diseño de alternativas (fotografías de talleres y recuperación de la experiencia).
          </div>
          <div class="content-row">
            Taller de análisis de riesgos (fotografías de talleres).
          </div>
        </div>

        <div class="column">
          <div class="content-row bottom-dashed-border">
            <strong>Diseñar proyectos</strong> específicos de la zona de intervención,
          </div>
          <div class="content-row bottom-dashed-border">
            Indicadores de resultados (matriz de evaluación y seguimiento).
          </div>
          <div class="content-row bottom-dashed-border">
            Medios de verificación (matriz de evaluación y seguimiento).
          </div>
          <div class="content-row bottom-dashed-border">
            Grupos de controlaría social (grupos de seguimiento y acuerdos de colaboración).
          </div>
          <div class="content-row">
            Plan general (matriz global de trabajo: proyectos, actores, recursos, cronograma, resultados esperados, costos).
          </div>
        </div>

        <div class="column">
          <div class="content-row bottom-dashed-border">
            Sistematizar la información de los trabajos realizados.
          </div>
          <div class="content-row bottom-dashed-border">
            Propuesta de gestión de recursos (check-list de mecanismos potenciales de procuración de fondos).
          </div>
          <div class="content-row bottom-dashed-border">
            Articulación de programa y proyectos potenciales existentes (matriz de relación tiempo-espacio)
          </div>
          <div class="content-row bottom-dashed-border">
            Comunicación de intervenciones (infografías, arte urbano, imágenes objetivo)
          </div>
          <div class="content-row">
            Reporte visual
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="resultados-proyectados">
    <div class="container">
      <h2 class="page-slide--title text-center">Resultados Proyectados</h2>
      <div class="graphic-container text-center">
        <img class="obj-esp-graphic" src="/assets/page-slides/proyecto--section-icons.png">
      </div>
      <div class="slide-columns-container">
        <div class="column">
          <div class="content-row bottom-dashed-border">
            <strong>Eficientar el desempeño y productividad de los proyectos</strong>
          </div>
          <div class="content-row">
            A través de la conformación de la RED, generando sinergias que permiten ahorrar recursos e incrementar el impacto.
          </div>
        </div>

        <div class="column">
          <div class="content-row bottom-dashed-border">
            Reforzar los procesos de comunicación con los ciudadanos.
          </div>
          <div class="content-row">
            Por medio de mecanismos de socialización comunitaria, para promover su participación. Evitar el paternalismo, promover dinámicas ascendentes y empoderar a los habitantes.
          </div>
        </div>

        <div class="column">
          <div class="content-row bottom-dashed-border">
            <strong>Mejorar los procesos participativos de identificación de problemáticas</strong>
          </div>
          <div class="content-row">
            A través de caminatas y talleres donde participan los habitantes de cada polígono.
          </div>
        </div>

        <div class="column">
          <div class="content-row bottom-dashed-border">
            <strong>Contribuir a la mejora de la calidad de vida de los habitantes</strong>
          </div>
          <div class="content-row">
            Por medio del diseño de proyectos específicos a cada polígono y la elaboración de matrices de indicadores.
          </div>
        </div>

        <div class="column">
          <div class="content-row bottom-dashed-border">
            <strong>Facilitar el sistema de gestión de recursos</strong>
          </div>
          <div class="content-row">
            Sistematizando la información en la plataforma web y generando medios audiovisuales para la interpretación de los resultados.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>