$('#polygon_select').empty();
$('#select2-chosen-4').text("Selecciona el Polígono");
<% for polygon in @polygons %>
    $('#polygon_select').append($("<option></option>").attr("value",<%= polygon.id %>).text('<%= polygon.name %>'));
<% end %>