.nav-links {
    float: left;
    margin-left: 37px;
}

.nav-links a {
    color: #BA0538;
    font-family: Helvetica;
    font-size: 12px;
    padding-top: 20px;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 3px solid #FFF;
    margin-right: 35px;
    letter-spacing: 2.3px;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.nav-links a:hover,
.nav-links a.active {
    color: #7e7e7e;
    border-bottom: solid 3px #BA0538;
}

.page-slide-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: auto;
    background: #fff;
    height: 0;
    top: 56px;
    z-index: -1;
    overflow: auto;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.page-slide-container.active {
    height: auto;
    z-index: 3;
    opacity: 1;
    min-width: 1220px;
}
.page-slide-container .close{
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 9px;
    right: 20px;
    text-transform: lowercase;
    font-size: 17px;
    color: #BA0538;
    opacity: 1;
    border: solid 1px rgba(90,90,90, 0.2);
    border-radius: 50%;
    width: 20px;
    text-align: center;
    line-height: 14px;
    height: 20px;
}
.page-slide-container .close:hover{
    background: rgba(90, 90, 90, 0.2);
    opacity: 0.5;
}

/* NAVIGATION*/
.inner-nav {
    background: none repeat scroll 0% 0% rgba(244, 244, 244, 0.6);
    box-shadow: 0px 1px 2px 0px rgba(60,60,60,0.3) inset, 0px 0px 2px 0px rgba(60,60,60,0.5);
    padding: 8px;
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 1;
}
.inner-nav-item:first-of-type {
    margin-left: 130px;
}

.inner-nav-item {
    color: #BA0538;
    display: inline-block;
    font-size: 11px;
    padding: 5px 20px;
    margin-right: 10px;
    border-radius: 10px;
    line-height: 10px;
}
.inner-nav-item:hover,
.inner-nav-item:focus,
.inner-nav-item:active {
    text-decoration: none;
}
.inner-nav-item.active {
    background: #BA0538;
    color: #fff;
}
/*OBJETIVO GENERAL*/
#objetivo-general {
    padding-top: 93px;
    padding-bottom: 89px;
    background: #e9e9e9;
    width: 100%;
}
.obj-gral-graphic{
    margin-top: 40px
}
#objetivo-general .graphic-description {
    position: relative;
    width: 210px;
    font-size: 13px;
    line-height: 17px;
}
#objetivo-general .graphic-description.top-left {
    top: 43px;
    left: 200px;
}
#objetivo-general .graphic-description.bottom-left {
    top: 188px;
    left: 200px;
}
#objetivo-general .graphic-description.top-right {
    left: -56px;
    top: 43px;
}
#objetivo-general .graphic-description.bottom-right {
    top: 222px;
    left: -56px;
}
/*OJETIVOS ESPECIFICOS*/
#objetivos-especificos {
    padding-top: 70px;
    padding-bottom: 37px;
}
.obj-esp-graphic {
    margin-bottom: 21px;
}
/*ENTREGABLES*/
#entregables {
    background: #e9e9e9;
    padding-top: 67px;
    padding-bottom: 37px;
}
/*RESULTADOS PROYECTADOS*/
#resultados-proyectados {
    padding-top: 67px;
    padding-bottom: 37px;
}
/*PROCESO INTERVENCION*/
#proceso-intervencion {
    background: #e9e9e9;
    padding-top: 80px;
    padding-bottom: 40px;
    min-height: 600px;
}
.proceso-intervencion-container{
    position: relative;
    display: inline-block;
    margin-top: 85px;
}
#proceso-intervencion .process-steps{
    font-size: 11px;
    position: absolute;
    line-height: 12px;
}
.process-steps.step-1 {
    top: 157px;
    left: -120px;
    width: 110px;
    text-align: right;
    font-size: 12px;
}
.process-steps.step-2 {
    top: 255px;
    left: 25px;
    width: 80px;
}
.process-steps.step-3 {
    left: 20px;
    top: 37px;
}
.process-steps.step-4 {
    top: 275px;
    left: 95px;
    width: 90px;
}
.process-steps.step-5 {
    top: -5px;
    left: 143px;
    width: 90px;
}
.process-steps.step-6 {
    top: 300px;
    left: 190px;
    width: 90px;
}
.process-steps.step-7 {
    left: 250px;
    width: 90px;
    top: -45px;
}
.process-steps.step-8 {
    left: 290px;
    top: 300px;
    width: 70px;
}
.process-steps.step-9 {
    left: 345px;
    width: 80px;
    top: -65px;
}
.process-steps.step-10 {
    left: 348px;
    top: 311px;
    width: 90px;
}
.process-steps.step-11 {
    left: 452px;
    width: 70px;
    top: -40px;
}
.process-steps.step-12 {
    left: 450px;
    width: 70px;
    top: 310px;
}
.process-steps.step-13 {
    left: 520px;
    width: 70px;
    top: 5px;
}
.process-steps.step-14 {
    left: 553px;
    width: 70px;
    top: 290px;
}
.process-steps.step-15 {
    left: 595px;
    width: 70px;
    top: -50px;
}
.process-steps.step-16 {
    left: 655px;
    width: 70px;
    top: 290px;
}
.process-steps.step-17 {
    left: 660px;
    width: 70px;
    top: 35px;
}
.process-steps.step-18 {
    left: 715px;
    top: 250px;
    width: 70px;
}
.process-steps.step-19 {
    left: 720px;
    top: 65px;
    width: 70px;
}
.process-steps.step-20 {
    top: 160px;
    width: 90px;
    left: auto;
    right: -100px;
    font-size: 12px;
    text-align: left;
}
/*PROCESO PROYECTO*/
#proceso-proyecto{
    padding-top: 80px;
    padding-bottom: 40px;
    min-height: 695px;
}
#proceso-proyecto .steps-timeline-container{
    margin-top: 300px;
    position: relative;
}
#proceso-proyecto .step-timeline-number {
    width: 20px;
    display: inline-block;
    text-align: center;
    top: -10px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    font-style: normal;
    font-size: 11px;
}
#proceso-proyecto .step-timeline-number.step-1{
    top: -20px;
    height: 40px;
    width: 40px;
    left: 0;
    line-height: 40px;
    font-size: 20px;
}
#proceso-proyecto .step-timeline-number.step-2{
    left: 12.5%;
}
#proceso-proyecto .step-timeline-number.step-3{
    left: 25%;

}
#proceso-proyecto .step-timeline-number.step-4{
    left: 37.5%;

}
#proceso-proyecto .step-timeline-number.step-5{
    left: 50%;

}
#proceso-proyecto .step-timeline-number.step-6{
    left: 62.5%;

}
#proceso-proyecto .step-timeline-number.step-7{
    left: 75%;

}
#proceso-proyecto .step-timeline-number.step-8{
    left: 87.5%;

}
#proceso-proyecto .step-timeline-number.step-9{
    top: -20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    right: 0;
}

#proceso-proyecto .step-timeline-text {
    width: 110px;
    font-weight: bold;
    position: absolute;
    text-align: center;
}
#proceso-proyecto .step-timeline-text.step-1 {
    top: -90px;
    left: -30px;
}
#proceso-proyecto .step-timeline-text.step-2 {
    top: 20px;
    left: 100px;
}
#proceso-proyecto .step-timeline-text.step-3 {
    top: -90px;
    left: 240px;
}
#proceso-proyecto .step-timeline-text.step-4 {
    top: 20px;
    left: 390px;
}
#proceso-proyecto .step-timeline-text.step-5 {
    top: -90px;
    left: 525px;
}
#proceso-proyecto .step-timeline-text.step-6 {
    top: 20px;
    left: 670px;
}
#proceso-proyecto .step-timeline-text.step-7 {
    top: -110px;
    left: 805px;
}
#proceso-proyecto .step-timeline-text.step-8 {
    top: 20px;
    left: 955px;
}
#proceso-proyecto .step-timeline-text.step-9 {
    top: -90px;
    left: 1060px;
}

#proceso-proyecto .striped-tooltip-box {
    position: absolute;
}
#proceso-proyecto .striped-tooltip-box.step-3 {
    top: -275px;
    left: 195px;
    padding-top: 30px;
}
#proceso-proyecto .striped-tooltip-box.step-4 {
    top: 90px;
    left: 335px;
}
#proceso-proyecto .striped-tooltip-box.step-5 {
    top: -275px;
    left: 478px;
}
#proceso-proyecto .striped-tooltip-box.step-6 {
    top: 90px;
    left: 620px;
}
#proceso-proyecto .striped-tooltip-box.step-7 {
    padding-top: 25px;
    top: -275px;
    left: 763px;
}
/*LEVANTAMIENTO DE DATOS*/
#levantamiento-datos{
    background: #e9e9e9;
    padding-top: 80px;
    padding-bottom: 40px;
    min-height: 600px;
}
.levantamiento-flow-container {
    height: 490px;
    position: relative;
}
#levantamiento-datos .flow-init-text,
#levantamiento-datos .flow-graphic-main,
#levantamiento-datos .flow-branch,
#levantamiento-datos .flow-graphic-secondary {
    position: absolute;
}
#levantamiento-datos .flow-init-text{
    top: 225px;
    left: 58px;
    width: 143px;
    font-weight: bold;
}
#levantamiento-datos .flow-graphic-main {
    left: 230px;
    top: 68px;
}
#levantamiento-datos .flow-branch.branch-1{
    left: 605px;
    top: 62px;
    width: 150px;
}
#levantamiento-datos .flow-branch.branch-2{
    left: 605px;
    top: 150px;
    width: 150px;
}
#levantamiento-datos .flow-branch.branch-3{
    left: 655px;
    top: 350px;
    width: 150px;
}
#levantamiento-datos .flow-graphic-secondary {
    right: 40px;
}
#levantamiento-datos .flow-graphic-secondary.graphic-1 {
    top: 30px;
}
#levantamiento-datos .flow-graphic-secondary.graphic-2 {
    top: 180px;
}
#levantamiento-datos .flow-graphic-secondary.graphic-3 {
    top: 355px;
}
/*RECORRIDOS A PIE*/
#recorridos-rap{
    padding-top: 80px;
    padding-bottom: 40px;
    min-height: 600px;
}
#recorridos-rap .striped-tooltip-box,
#recorridos-rap .step-timeline-number{
    position: absolute;
}
#recorridos-rap .striped-tooltip-box{
    width: 170px;
    text-align: left;
    font-size: 11px;
    padding: 10px 15px;
}
#recorridos-rap .striped-tooltip-box.up {
    top: 5px;
}
#recorridos-rap .step-timeline-number{
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    top: -26px;
}
#recorridos-rap .timeline-top-content,
#recorridos-rap .timeline-bottom-content {
    position: relative;
}
#recorridos-rap .timeline-top-content{
    margin-top: 35px;
    height: 170px;
}
#recorridos-rap .striped-tooltip-box.step-1{
    left: 210px;
}
#recorridos-rap .striped-tooltip-box.step-2{
    left: 300px;
}
#recorridos-rap .striped-tooltip-box.step-3{
    left: 405px;
}
#recorridos-rap .striped-tooltip-box.step-4{
    left: 500px;
}
#recorridos-rap .striped-tooltip-box.step-5{
    left: 607px;
}
#recorridos-rap .striped-tooltip-box.step-6{
    left: 710px;
}
#recorridos-rap .striped-tooltip-box.step-7{
    left: 812px;
}
.rap-timeline-container {
    margin: 56px auto;
    width: 730px;
    position: relative;
    left: 25px;
}
#recorridos-rap .timeline-init-text,
#recorridos-rap .timeline-end-text{
    position: absolute;
}
#recorridos-rap .timeline-init-text{
    width: 127px;
    text-align: right;
    top: -50px;
    left: -140px;
}
#recorridos-rap .timeline-end-text{
    right: -150px;
    top: -20px;
    width: 130px;
}
#recorridos-rap .step-timeline-number.step-1 {
    left: 38px;
}
#recorridos-rap .step-timeline-number.step-2 {
    left: 130px;
}
#recorridos-rap .step-timeline-number.step-3 {
    left: 235px;
}
#recorridos-rap .step-timeline-number.step-4 {
    left: 330px;
}
#recorridos-rap .step-timeline-number.step-5 {
    left: 435px;
}
#recorridos-rap .step-timeline-number.step-6 {
    left: 538px;
}
#recorridos-rap .step-timeline-number.step-7 {
    left: 640px;
}
/*ENCUESTAS MOVILES*/
#encuestas-moviles{
    background: #e9e9e9;
    padding-top: 80px;
    padding-bottom: 40px;
    min-height: 600px;
}
#encuestas-moviles .graphic-container{
    margin-top: 30px;
}
#encuestas-moviles .graphic,
#encuestas-moviles .graphic-descriptions-container {
    float: left;
}
#encuestas-moviles .graphic-descriptions-container {
    width: 250px;
    margin-left: 20px;
}
#encuestas-moviles .description-1 {
    margin-top: 30px;
}
#encuestas-moviles .description-2 {
    margin-top: 40px;
}
/*SOCIALIZACION DE RESULTADOS*/
#socializacion-resultados{
    background: url('/assets/backgrounds/procesos--socializacion.jpg') 50% 50% / 100% auto no-repeat;
    padding-top: 80px;
    padding-bottom: 40px;
    min-height: 600px;
    position: relative;
}
#socializacion-resultados .page-slide--title{
    color: #e1e1e1;
}
.socializacion-text{
    position: absolute;
    top: auto;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    max-width: 952px;
    padding: 13px 130px 0;
    height: 124px;
    line-height: 17px;
    color: #e1e1e1;
}
.socializacion-text h3{
    font-size: 14px;
    margin-bottom: 15px;
}
/*MISC*/
.page-slide--title{
    text-transform: uppercase;
    line-height: 26px;
    font-size: 28px;
    color: #BA0538;
    font-family: Helvetica;
    font-weight: bold;
}
.slide-columns-container {
    width: 945px;
    margin: 0 auto;
}
.slide-columns-container .column {
    width: 167px;
    float: left;
    margin: 0 11px;
}
.slide-columns-container .column-popover-title {
    background: none repeat scroll 0% 0% #BA0538;
    color: #FFF;
    font-size: 23px;
    line-height: 20px;
    padding: 6px 0;
    border-bottom: solid 10px #9a1d00;
    position: relative;
    margin-bottom: 26px;
}
.slide-columns-container .column-popover-title:after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    width: 0px;
    height: 0px;
    border-top: solid 8px #9a1d00;
    top: auto;
    bottom: -18px;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    margin-left: -4px;
}
.slide-columns-container .content-row {
    font-size: 13px;
    line-height: 17px;
    min-height: 87px;
    padding-bottom: 10px;
    margin-bottom: 19px;
    letter-spacing: 0.2px;
}
.bottom-dashed-border {
    border-bottom: dashed 2px #BA0538;
}
.content-row:last-of-type {
    margin: 0px;
}
.striped-tooltip-box {
    background: #e1e1e1;
    width: 205px;
    padding: 10px 25px;
    height: 150px;
    font-size: 13px;
    line-height: 17px;
    position: relative;
}
.striped-tooltip-box.down:after {
    position: absolute;
    top: auto;
    bottom: -8px;
    z-index: 0;
    content: "";
    background: url("/assets/striped-tooltip-box-down.png") repeat scroll 50% 0% transparent;
    display: block;
    width: 100%;
    height: 23px;
    left: 0;
}
.striped-tooltip-box.up:after {
    position: absolute;
    top: -22px;
    z-index: 0;
    content: "";
    background: url("/assets/striped-tooltip-box-up.png") repeat scroll 50% 0% transparent;
    display: block;
    width: 100%;
    height: 23px;
    left: 0;
}
.striped-tooltip-box .tooltip-graphic {
    margin: 10px auto 0;
    display: block;
    border: solid 5px #fff;
    border-radius: 2px;
}
.circular-red {
    background: #BA0538;
    color: #fff;
    border-radius: 50%;
    font-style: normal;
}

@media all and (max-width: 990px) {
    .page-slide-container {
        bottom: auto;
        display: none;
    }
    .page-slide-container.active {
        display: block;
    }
    .page-slide-container .container {
        width: 96%;
    }
    .inner-nav-item:first-of-type{
        margin-left: 5px;
    }
    .inner-nav-item {
        padding: 5px 10px;
        margin: 5px;
    }
    .page-slide-container .col-md-4 {
        width: 33%;
        float: left;
    }
    #proceso-proyecto {
        padding-left: 50px;
    }
    #proceso-proyecto .steps-timeline-container {
        width: 1140px;
    }
}