@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
}
html, body {
    height: 100%;
}
.navbar-brand {
    padding: 9px 10px 8px;
    height: auto;
}
.navbar-default {
    background-color: #fff;
    border-bottom-color: #c1c1c1
}
.navbar-default .navbar-nav>li>a {
    font-size: 16px;
}
.navbar-default .navbar-nav>li>#navLogin {
    margin-top: 7px;
    padding: 9px 22px;
    color: #fff;
    background-color: #ce0538;
}
.navbar-default .navbar-nav>li>#navLogin:hover,
.navbar-default .navbar-nav>li>#navLogin:focus {
    background-color: #ba0538;
}
.navbar-default .navbar-nav>li>#navLogin:active {
    padding-top: 10px;
    padding-bottom: 8px;
}
#menuLogin .dropdown-menu {
    width: 350px;
    margin-top: 8px;
    padding: 30px 30px 10px;
}
.form-title {
    color: #7d7d7d;
    text-align: center;
    padding: 30px 0 20px;
    margin-top: 30px;
    border-top: 1px #e3e3e3 solid
}
.social-login-title {
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
    color: #212121;
}
.omb_btn-twitter,
.omb_btn-facebook,
.omb_btn-twitter:hover,
.omb_btn-facebook:hover {
    color: #fff
}
.omb_btn-twitter:focus,
.omb_btn-facebook:focus {
    box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,.4)
}
.omb_btn-twitter {
    background: #4099ff;
}
.omb_btn-facebook {
    background: #3b5998;
}

.jumbotron {

}
.btn-primary {

}
.btn-danger {
    background-color: #ce0538;
    color: #fff;
}
.register-trigger {
    font-size: 13px;
    color: #7d7d7d;
    padding-top: 5px;
}
.register-trigger a {
    color: #dd7686
}
.register-trigger a:hover {
    color: #ce0538
}

.map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.map-toolbar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 54px;
    height: 64px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    z-index: 2;
}
.map-toolbar .filter-form.toggle-visible .toolbar__form-group {
    border-width: 0;
}
.map-toolbar .element-toggle {
    display: none;
    color: #646464;
}
.map-toolbar .element-toggle:hover {
    text-decoration: none;
    color: #ce0538
}
.toolbar__form-group {
    border-right: 1px solid #a8ab9d
}
.toolbar__form-group:last-child {
    border-width: 0px;
}
.toolbar__form-group-field {
    padding-bottom: 11px;
}
.map-toolbar .toolbar__label {
    font-size: 9px;
    text-transform: uppercase;
    color: #747473;
    font-weight: bold;
    line-height: 3;
}
.map-toolbar .checkbox {
    padding: 0;
    margin: 0
}
.map-toolbar .select2-container {
    border-width: 0px;
    -webkit-box-shadow: 0 0 0 0 transparent, inset 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent, inset 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent, inset 0 0 0 0 transparent;
}
.map-toolbar .select2-container-active {
    border-width: 1px;
}
.map-toolbar .select2-container .select2-choice > .select2-chosen {
    font-size: 13px;
    color: #2a2a2a;
    font-weight: bold;
}
.map-toolbar .select2-container .select2-choice.select2-default > .select2-chosen {
    text-transform: uppercase;
}
.map-toolbar .select2-container.select2-container-disabled .select2-choice {
    border-width: 0
}
.map-toolbar .select2-container.select2-container-disabled {
    opacity: .5
}
.map-toolbar .select2-container .select2-choice {
    background-color: transparent;
    background-image: none;
}
.map-toolbar .select2-container .select2-choice .select2-arrow {
    background-color: transparent;
    background-image: none;
    border-width: 0px;
}
.map-toolbar .checkbox input[type=checkbox] {
    float: none
}
.map-toolbar .checkbox label {
    font-size: 13px;
    color: #2a2a2a;
    font-weight: bold;
}
.bootstrap-switchy-container {
    position: relative;
    width: 30px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 0 0 rgba(0,0,0,.25);
    overflow: hidden;
    z-index: 1;
}
/*.bootstrap-switchy-container:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: 2;
    content: " ";
    -webkit-transition: all .15s ease-out;
          transition: all .15s ease-out;
}*/
.bootstrap-switchy-container .bootstrap-switchy-status {
    display: inline-block;
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 13px;
    top: 2px;
    z-index: 3;
  -webkit-transition: all .15s ease-out;
          transition: all .15s ease-out;
}
.bootstrap-switchy-off {
    background-color: #b1b1b1;
}
.bootstrap-switchy-off .bootstrap-switchy-status {
    left: 2px;
}
.bootstrap-switchy-on {
    background-color: #d41f43;
}
.bootstrap-switchy-on .bootstrap-switchy-status {
    right: 2px;
}

.bootstrap-switchy-container input[type=checkbox],
.bootstrap-switchy-container input[type=radio] {
    display: none;
}
#mainMap {
    position: absolute;
    width: 100%;
    height: 100%;
}

.unsuppoted {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(255,255,255,.75);
    text-align: center;
}
.unsuppoted .container {
    margin-top: 10%;
}
.unsuppoted a {
    margin: 0 5px;
}
.polygon-view {
    position: relative;
    height: 570px;
    padding-top: 53px;
}
.polygon-view .map-toolbar {
    position: relative;
    margin-top: 0
}
.polygon-view #mainMap {
    position: relative;
    height: 480px;
}


/* Polygon (Toolbar) ----------- */
.polygon__info {
    background-color: rgba(9,9,9,.89);
    position: absolute;
    width: 100%;
    z-index: 1;
}
.polygon__info .polygon__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;
    text-align: center;
    background-color: #ce0538
}
.polygon__info .polygon__icon img {
    margin-top: 23px;
}
.polygon__info .polygon__content {
    padding: 0 10px 10px 50px;
}
.polygon__info .polygon__content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    color: #fff;
    font-weight: 300;
}
.polygon__info .polygon__content .close {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    opacity: 1;
    filter: alpha(opacity=100);
}
.polygon__info .polygon__content h1 small {
    font-size: 20px;
    color: #747474;
}
.polygon__meta {
    margin-bottom: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.polygon__meta > li {
    vertical-align: top;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}
.polygon__meta .genre-list {
    width: 180px;
    text-align: left;
}
.polygon__meta .genre-list .br_right {
    text-align: right;
}
.polygon__meta .ages-list {
    width: 200px;
    text-align: left;
}
.polygon__meta .ages-list .br_right {
    text-align: right;
}
.polygon__meta .br_right {
    border-right: 1px solid rgba(255,255,255,.1)
}
.slick-responsive {
  overflow: hidden;
}
.polygon__meta .polygon__meta-label
{
    color: #f71c54;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.polygon__meta .polygon__meta-content
{
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    padding-top: 2px;
}
.polygon__meta .polygon__meta-description
{
    color: #7f7e7e;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
}
.polygon-sprite {
    width: 45px;
    height: 26px;
    display: inline-block;
    position: relative;
    background: transparent url('../img/icons/polygon_sprite.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.polygon-sprite.activities
{
  background-position: 0 0;
}
.polygon-sprite.events
{
  background-position: -45px 0;
}
.polygon-sprite.walkings
{
  background-position: -90px 0;
}
.polygon-sprite.transports
{
  background-position: -135px 0;
}
.polygon-sprite.gallery
{
  background-position: -180px 0;
}
/* Problem (Container) ----------- */
.problem__wrapper {
  background-color: #000;
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
  min-height: 400px
}
.problem__cover {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .25;
  z-index: 1;
}
.problem__container {
  position: relative;
  z-index: 2;
  margin-top: 30px;
  width: 678px;
}
.problem__header {
  padding: 15px 15px 15px 45px;
  background-color: rgba(0,0,0,.9)
}
.problem__header,
.problem__footer {
  padding-left: 45px;
}
.problem__footer {
  margin-bottom: 70px;
  background-color: rgba(0,0,0,.5)
}

/* ALL (Smartphone/Tablets) ----------- */
@media (max-width:1024px) {
    .map-toolbar {
        height: auto;
    }
    .map-toolbar .element-toggle {
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        display: inline-block;
    }
    .map-toolbar .filter-form {
        display: none;
    }
}
@media (max-width:768px) {
  .polygon__info .polygon__icon img {
    margin-top: 1.4rem;
  }
  .polygon__info .polygon__content h1 {
    font-size: 2rem;
    margin-top: 1.2rem;
  }
  .polygon__info .polygon__content h1 small {
    font-size: 1.5rem;
  }
}
.content {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}    
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.infobox {
    position: absolute;
    z-index: 999;
}

.infobox .itemb {
    background: url(../images/bg_box.png) no-repeat;
    color: #848484;
    font-size: 14px;
    position: absolute;
    height: 123px;
    padding: 2px !important;
    width: 380px;
}

.infobox .error h2 {
    color: #fff;
    padding-top: 7px;
}

.infobox .error p {
    color: #cd0537;
    font-size: 12px;
}

.infobox .error {
    background: url(../images/bg_erroe.png) no-repeat;
    color: #fff;
    font-size: 14px;
    position: absolute;
    padding-left: 53px;
    height: 80px;
    margin-top: 43px;
    padding: 2px 0 0  53px !important;
    width: 380px;
}

.infobox .left {
    float: left;
    color: #cd0537;
    font-size: 15px;
    line-height: 38px;
    font-weight: bold;
    padding: 0 15px;
}

.infobox .right strong {
    color: #5a5a5a;
    font-weight: normal;
}

.infobox .right {
    float: right;
    color: #848484;
    font-size: 14px;
    line-height: 38px;
    padding: 0 15px;
}

.infobox .green .right {
    margin-top: -4px;
    float: right;
    height: 28px;
    padding: 0 10px 0 24px;
    border-radius: 2px;
    background: #45b31f url(../images/ico_check.png) no-repeat 7px 50%;
    line-height: 28px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.infobox .green {
    overflow: hidden;
    background: #edffe7;
    border-bottom: 1px solid #aed6a0;
    padding: 5px 15px;
}

.infobox .green p {
    margin: 0;
    padding: 0;
    color: #2d7016;
    font-size: 11px;
    text-shadow: 0 1px 1px rgba(237,255,231,.75);
}

.infobox .like {
    float: right;
    background: url(../images/ico_like.png) no-repeat;
    padding: 0 3px 0 31px;
    color: #848484;
    height: 21px;
    border-right: 1px solid #a3a3a3;
    border-radius: 0 2px 2px 0;
    margin: 10px;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
}

.infobox .orange .right {
    margin-top: -4px;
    float: right;
    height: 28px;
    padding: 0 10px;
    border-radius: 2px;
    background: #b3761f;
    line-height: 28px;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.infobox .orange {
    overflow: hidden;
    background: #fdf7e0;
    border-bottom: 1px solid #e4cfb1;
    padding: 5px 15px;
}

.infobox .orange p {
    margin: 0;
    padding: 0;
    color: #b3761f;
    font-size: 11px;
    text-shadow: 0 1px 1px rgba(237,255,231,.75);
}

.infobox .red .right {
    margin-top: -4px;
    float: right;
    height: 28px;
    padding: 0 10px;
    border-radius: 2px;
    background: #b3761f;
    line-height: 28px;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.infobox .red {
    overflow: hidden;
    border-bottom: 1px solid #a8ab9d;
    padding: 5px 15px;
}

.infobox .red p {
    margin: 0;
    padding: 0;
    color: #ce0538;
    font-size: 11px;
    text-shadow: 0 1px 1px rgba(237,255,231,.75);
}

.infobox h2 {
    color: #292929;
    padding: 3px 0 4px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 23px;
    line-height: normal;
}

.infobox .close {
    position: relative;
    /*top: 0;*/
    /*text-indent: -999em;*/
    /*background: none;
    bottom: 0;
    left: 0;
    z-index: 99;
    right: 0;
    display: block;*/
}
.poligon-info {
    position: absolute;
    top: 64px;
    z-index: 9;
    left: 0;
    right: 0;
    padding-left: 52px;
    height: 143px;
    background-color: rgba(9,9,9,.89);
    box-shadow: 0 2px 2px rgba(0,1,1,.2);
}

.poligon-info:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: #cd0537 url(../images/poligon.png) no-repeat 50% 16px;
    content: "";
}

.poligon-info a {
    color: #7f7e7e;
    text-decoration: underline;
}

.poligon-info h5 {
    padding: 12px 0 6px;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

.poligon-info h4 {
    color: #f71c53;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.poligon-info .ico img {
    display: inline-block;
    margin: 0 -35px;
}

.poligon-info .count.rr {
    right: 9px;
}

.poligon-info .close {
    position: absolute;
    top: 20px;
    display: block;
    right: 20px;
    background: url(../images/ico_close.png) no-repeat;
    width: 14px;
    height: 14px;
}

.poligon-info .count {
    position: absolute;
    display: block;
    text-align: center;
    line-height: 17px;
    color: #1f1d1d;
    font-size: 12px;
    font-weight: bold;
    top: 0;
    right: 2px;
    width: 23px;
    height: 23px;
    border: 3px solid #232121;
    border-radius: 12px;
    background-color: #fff;
}

.poligon-info .ico {
    position: relative;
    height: 36px;
    display: block;
    padding-top: 11px;
    margin: auto;
}

.poligon-info h3 {
    color: #fff;
    font-weight: normal;
    padding: 19px 0 25px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 23px;
}

.poligon-info .more-info .chart {
    text-align: center;
    padding: 20px 0;
}

.poligon-info .set:hover > .more-info,
.poligon-info .item:hover .more-info {
    display: block;
}

.poligon-info .more-info:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 15px;
}

.poligon-info .more-info:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    width: 0;
    margin-left: -8px;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #10100f transparent;
}

.poligon-info .content {
    padding: 10px 9px;
}

.poligon-info .more-info li a {
    text-decoration: none;
    color: #ffffff;
}

.poligon-info .more-info li {
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    color: #ffffff;
}

.poligon-info .more-info ul + h6 {
    padding-top: 15px;
}

.poligon-info .more-info h6 {
    color: #656565;
    font-size: 10px;
    text-transform: uppercase;
}

.poligon-info .more-info h3 {
    color: #d2d2d2;
    font-size: 15px;
    background: #10100f;
    border-bottom: 1px solid #31302f;
    line-height: 34px;
    margin: 0;
    padding: 0 11px;
    text-align: left;
}

.poligon-info .more-info .close {
    margin: -7px;
    background: url(../images/ico_close_s.png) no-repeat;
    width: 9px;
    height: 9px;
}

.poligon-info .more-info {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left: 50%;
    text-align: left;
    width: 276px;
    border-radius: 1px;
    display: none;
    background-color: #211f1f;
    margin-left: -140px;
    box-shadow: 0 1px 3px rgba(0,1,1,.75);
}

.poligon-info h3 span {
    color: #747474;
    font-weight: 300;
}

.poligon-info .set.nos {
    padding-left: 0;
}

.poligon-info .set {
    position: relative;
    padding: 0 0 0 20px;
    float: left;
    text-align: center;
}

.poligon-info .set + .set {
    padding-right: 15px;
}

.poligon-info .set .item h5 {
    margin-top: -12px;
}

.poligon-info .set.nos .item h5,
.poligon-info .set.nos .item {
    margin-top: 0;
}

.poligon-info .set.nos .item {
    height: 80px;
    padding-right: 22px;
}

.poligon-info .set .item {
    float: left;
    position: relative;
    margin-top: 12px;
    padding: 0 10px;
}

.poligon-info .set .item + .item {
    border-left: 1px solid #3a3939;
}

.poligon-info .item {
    float: left;
    color: #7f7e7e;
    font-size: 12px;
    height: 50px;
    text-align: center;
    padding: 0 15px;
    font-weight: bold;
}

.poligon-info .item.first {
    padding-left: 0;
}

.poligon-info .item.pl {
    padding-left: 25px !important;
}

.popup {
    width: 439px;
    display: none;
    padding: 19px;
    overflow: hidden;
}

.popup h3 {
    color: #202020;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 23px;
    padding-bottom: 32px;
}

.popup textarea,
.popup input {
    width: 100%;
    height: 34px;
    border: 1px solid #cbcbcb;
    padding: 5px 10px;
    border-radius: 3px;
    background: #fff;
}

.popup fieldset {
    padding-bottom: 13px;
}

.popup .btn-red {
    margin-top: 11px;
}

.popup textarea {
    height: 84px;
}

.alte-poligon .close,
.fancybox-close {
    background: url(../images/ico_close_g.png) no-repeat;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 13px;
    right: 19px;
}

.alte-poligon .close {
    right: 17px;
}

.popup .public {
    padding: 8px 0 0;
}

.popup .public input {
    float: left;
    width: auto;
    height: auto;
    padding: 0;
    margin: 2px 8px 0 4px;
    border: 0;
    background: none;
}

.popup .public label {
    float: left;
    font-size: 12px;
    color: #404040;
    font-weight: normal;
    opacity: 1;
    text-transform: none;
}

.popup label {
    opacity: .8;
    display: block;
    padding: 0 0 4px;
    color: #3f3f3f;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9px;
}
