<% title "New Video" %>
<div class="page-head">
<h2 class="pull-left">Editar Video</h2>
<div class="pull-right">

</div>
<div class="clearfix"></div>
<!-- Breadcrumb -->
<div class="bread-crumb">
  <a href="/admin/dashboard"><i class="fa fa-home"></i> Inicio</a>
  <!-- Divider -->
  <span class="divider">/</span>
  <a href="/admin/polygons"><i class="fa fa-map-marker"></i> Polígonos</a>
  <span class="divider">/</span>
  <a href="/admin/polygons/<%=params[:polygon_id]%>/edit"><i class="fa fa-map-marker"></i> Editar polígono</a>
  <span class="divider">/</span>
  <a href="#" class="bread-current">Editar Video</a>
</div>

<div class="clearfix"></div>
</div>
<div class="matter">
  <div class="container">
    <%= render 'form' %>
    <p><%= link_to "Back to Videos", admin_polygon_videos_path(:polygon_id => params[:polygon_id]) %></p>
    </div>
</div>
